.toggle {
    position: fixed;
    bottom: 1em;
    right: 12.5em;
    z-index: 100;

    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    background: rgba(0, 0, 0, .5);
    box-shadow: 0 0 0 4px rgba(255, 255, 255, .1);
    
    transition: all 300ms ease-out;
}

.toggleIcon {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;

    transition: all 300ms ease-out;

    font-size: 1.25em;
}